# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/
env/
*.egg-info/
.pytest_cache/

# Django
*.log
*.sqlite3
*.db
.env
.env.*
media/
staticfiles/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
